@font-face {
    font-family: "Lionburg";
    src: url("/fonts/Lionburg.ttf") format("ttf"),
      
   }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    font-family: "Lionburg", sans-serif;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;

    font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
}